alembic==1.5.8
attrs==20.3.0
billiard==3.6.4.0
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
decorator==4.4.2
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
kombu==5.0.2
Mako==1.1.4
MarkupSafe==1.1.1
moviepy==1.0.3
numpy==1.20.2
packaging==20.9
Pillow==6.2.1
pluggy==0.13.1
proglog==0.1.9
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
py==1.10.0
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
redis
requests==2.25.1
six==1.15.0
SQLAlchemy==1.4.7
toml==0.10.2
tqdm==4.60.0
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
